{% extends 'base.html.twig' %}


{% block title %}Create a task | {{ parent() }} {% endblock %}

{% block body %}
<h1>{{ title }}</h1>

<div>
    Tasks:

    <ul>
        {% for task in tasks %}

        <li>
            {{ task.name }} - {{ task.status }}
        </li>

        {% endfor %}
    </ul>
</div>

{% endblock %}