{% extends 'base.html.twig' %}


{% block title %}HomePage | {{ parent() }} {% endblock %}

{% block body %}


<div class="relative overflow-x-auto shadow-md sm:rounded-lg py-5">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Task
                </th>
                <th scope="col" class="px-6 py-3">
                    Status
                </th>
                <th scope="col" class="px-6 py-3">
                    Category
                </th>
                <th scope="col" class="px-6 py-3">
                    Created On
                </th>
                <th scope="col" class="px-6 py-3">
                    <span class="sr-only">Edit</span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Create the users database
                </th>
                <td class="px-6 py-4">
                    Pending...
                </td>
                <td class="px-6 py-4">
                    Important
                </td>
                <td class="px-6 py-4">
                    07/08/2023
                </td>
                <td class="px-6 py-4 text-right">
                    <a href="#" class="font-medium text-red-600 dark:text-red-500 hover:underline mr-2">Del</a>
                    <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                </td>
            </tr>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Connect the users Database
                </th>
                <td class="px-6 py-4">
                    Not Started
                </td>
                <td class="px-6 py-4">
                    Important
                </td>
                <td class="px-6 py-4">
                    07/08/2023
                </td>
                <td class="px-6 py-4 text-right">
                    <a href="#" class="font-medium text-red-600 dark:text-red-500 hover:underline mr-2">Del</a>
                    <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                </td>
            </tr>
            <tr class="bg-white dark:bg-gray-800 hover:bg-gray-50 dark:hover:bg-gray-600">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Create the tasks Database
                </th>
                <td class="px-6 py-4">
                    Not Started
                </td>
                <td class="px-6 py-4">
                    Normal
                </td>
                <td class="px-6 py-4">
                    06/08/2023
                </td>
                <td class="px-6 py-4 text-right">
                    <a href="#" class="font-medium text-red-600 dark:text-red-500 hover:underline mr-2">Del</a>
                    <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- <ul>
        {% for task in tasks %}

        <li>
            {{ task.name }} - {{ task.status }}
        </li>

        {% endfor %}
    </ul> -->


{% endblock %}