{# templates/_mainnav.html.twig #}

{# Header du menu avec le bouton Login #}
	<nav class="bg-white border-gray-200 dark:bg-gray-900"> <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl p-4">
		<a href="/" class="flex items-center">
			<span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">To Do List</span>
		</a>
		{% if not app.user %}
			<div class="flex items-center">
				<a href="/login">
					<button class="text-white bg-blue-500 hover:bg-blue-700 font-bold py-2 px-4 rounded">Login</button>
				</a>
			</div>
		{% endif %}
		{% if app.user %}
			<div class="flex items-center">
				<a href="{{ path('app_logout') }}">
					<button class="text-white bg-blue-500 hover:bg-blue-700 font-bold py-2 px-4 rounded">Logout</button>
				</a>
			</div>
		{% endif %}
	</div>
</nav>
{# Menu de navigation entre les page principales #}
<nav class="bg-gray-50 dark:bg-gray-700">
	<div class="max-w-screen-xl px-4 py-3 mx-auto">
		<div class="flex items-center">
			<ul class="flex flex-row font-medium mt-0 mr-6 space-x-8 text-sm">
				<li>
					<a href="/" class="text-gray-900 dark:text-white hover:underline" aria-current="page">Home</a>
				</li>
				{% if app.user %}
					<li>
						<a href="/create" class="text-gray-900 dark:text-white hover:underline" aria-current="page">Create</a>
					</li>
				{% endif %}
			</ul>
		</div>
	</div>
</nav>
